* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.side-nav {
  background-color: red;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 30px;
  gap: 20px;
  /* gap between each children */
}

.content {
  background-color: blue;
  height: 100%;
  /* width: calc(100% - 300px); */
  /* prone to error */

  flex-grow: 1;
  /* will fill the empty space */
  padding: 20px;
  color: aliceblue;
}

.yellow-block {
  list-style: none;
  /* display: flex; */
  /* background-color: yellow; */
  height: 400px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

a {
  all: unset;
}

.menu-item {
  /* border-style: solid;
    border-color: black;
    border-width: 1px; */
  border-radius: 8px;
  background-color: aliceblue;
  padding: 10px;
  color: black;
  cursor: pointer;
  transition-property: all;
  transition-duration: 500ms;
  /* transition-delay: 1s; */
}

.menu-item:hover {
  background-color: red;
  color: aliceblue;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

#card {
  height: 400px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  color: black;
}
