@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Yaldevi:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#page-1 {
  width: 100vw;
  height: 100vh;
  background: var(--bg, #f8f7f1);
  position: relative;
  /* overflow: hidden; */
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.vert-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#page-1 ul {
  list-style: none;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.7px; /* 141.875% */
}

#page-1 li,
#page-1 h3,
#page-1 img {
  width: auto;
  height: auto;
  padding: 14px;
  margin: 14px;
}

#page-1 h3 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.7px; /* 141.875% */
}

.container-1 {
  width: 100%;
  height: 688px;
}

.vertical-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.horizontal-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#name {
  color: var(--primary-1, #0d2f3f);

  /* header 1 */
  font-family: Caros;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px; /* 109.756% */
}

#page-1-right {
  width: 800px;
  height: 80%;
  padding-left: 40px;
}

#email {
  color: var(--primary-2, #f26440);

  /* body 1 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#experience {
  height: 100px;
  width: 400px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

#experience h1 {
  font-size: 50px;
}

#than {
  position: absolute;
  bottom: -30px;
  right: 100px;
  z-index: 1;
}

#vector {
  height: 80vh;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 0;
}

#study-process {
  height: 10vh;
  color: var(--primary-1, #0d2f3f);
  text-align: center;
  /* header 3 */
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0 auto;
}

#yellow-bar {
  height: 30vh;
  background-color: #efc149;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-2,
.page-4 {
  background-color: #f8f7f1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#work-experience {
  padding: 20px;
  width: 80%;
}

.content-box {
  width: 50%;
  height: 20vh;
}

.page-2 img {
  width: 100px;
  height: 400px;
}

#frame {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-49%);
  top: -184px;
  /* height: 100px; */
}

#page-3,
.page-5 {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container-3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#page-3 #header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.computer-bg {
  background-image: url(./Assets/Rectangle\ 1.png);
  width: 350px;
  height: 320px;
  background-size: cover;
  border-radius: 50px;
}

.computer-bg2 {
  background-image: url(./Assets/Rectangle\ 2.png);
  width: 400px;
  height: 390px;
  background-size: cover;
  border-radius: 50px;
}

.row-page-3,
.row-4 {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.skill-card {
  width: 400px;
  height: 157px;
  border-radius: 32px;
  background: var(--neutral-2, #fafafa);
  display: flex;
  /* padding: 5px; */
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* gap: 10px; */
  position: relative;
  border: black 1px;
  border-style: solid;
}

.page-4 .skill-card #ai {
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: -90px;
  /* left: 50%; */
}

.page-4 .skill-card #figma {
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: -90px;
}

#figma-card {
  margin-bottom: 100px;
}

img #arrow {
  position: absolute;
  bottom: 100px;
}

.container-5 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.left-5 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.page-5 .left-5 h4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.page-5 .right-5 h4 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bottom-5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
  padding-left: 150px;
  border-top: solid 1px;
  border-color: #ececec;
}

.bottom-left-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-5 .bottom-5 #than-2 {
  height: 60px;
}
